<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cart-a-List</title>
  <link rel="stylesheet" href="/css/landing.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
</head>
<body>
  <div class="welcome-page">
    <h1>Welcome!</h1>
    <p>Explore our products</p>
    <a href="/products">View Products</a>
  </div>
</body>
</html>